.amount {
  display: flex;
  align-items: center;
  /* gap: 2px; */

  &__button {
    width: 45px;
    height: 45px;
    padding: 0;
    border: 1px solid #dbdbdb;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: all 200ms ease-out;

    &:hover {
      border-color: #f05a23;
      color: #1f1f1f;
      background-color: #ffffff;
    }

    &:not([disabled]):hover {
      color: #ffffff;
      background-color: #f05a23;
    }
  }
  &__input {
    width: 4ch;
    text-align: center;
    padding: 0;
    font-size: 12px;
    color: #000;
    background: transparent;
    border: none;
    font-weight: 700;
    outline: 0;
    cursor: default;
    caret-color: transparent;
  }
}
