.hamburger {
  width: 40px;
  height: 34px;
  cursor: pointer;
  transition: all 200ms ease-out;
  z-index: 1010;
  border: 1px solid #f05a23;
  position: relative;
}
.hamburger__bar {
  height: 2px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -10px;
  transition: transform 0.2s ease 0s;
}
.hamburger__line {
  background: #f05a23;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s linear 0.2s;
}
.hamburger__bar:before,
.hamburger__bar:after {
  background: #f05a23;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}

.hamburger_active .hamburger__line,
.hamburger_active .hamburger__bar:before,
.hamburger_active .hamburger__bar:after {
  background: #f05a23 !important;
}
.hamburger__bar:before {
  top: -7px;
  transition: top 0.2s linear 0.4s;
}
.hamburger__bar:after {
  bottom: -7px;
  transition: bottom 0.2s linear 0.4s;
}
.hamburger_active .hamburger__bar {
  transform: rotate(45deg);
  transition: transform 0.2s linear 0.4s;
}
.hamburger_active .hamburger__line {
  transform: rotate(90deg);
}
.hamburger_active .hamburger__bar:before {
  transition: top 0.2s linear;
  top: 0;
}
.hamburger_active .hamburger__bar:after {
  transition: bottom 0.2s linear;
  bottom: 0;
}
