.products {
  margin-bottom: 90px;

  &__title {
  }
  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @screen max-lg {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @screen max-md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @screen max-sm {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
